:root {
  --silver-tree: #5abd87;
  --violent-violet: #1A0E4A;
}

/* gets rid of the scroll bar but the div should still be scrollable */
.banner-carousel::-webkit-scrollbar {
  display: none;
}

li{
  list-style: none;
}

a{
  color: var(--silver-tree);
}

a:hover{
  color: green;
}

.main-interface {
  position: relative;
  height: 90vh;
  padding: 5vh 0;
  background-size: cover;
}

.info-buttons-container {
  position: absolute;
  display: flex;
  top: 5vh;
  right: 5vh;
}

.spark-reset-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 5vh;
  left: 32%;
}

.spark-counter {
  color: var(--violent-violet);
  background-color: white;
  padding: 10px 20px;
  font-size: 2rem;
}

.spark-counter span {
  color: #625fe5;
}

.inventory-btn,
.details-btn,
.reset-counter {
  display: inline-block;
  margin-left: 5vh;
  color: var(--violent-violet);
  background-color: white;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 5px;
}

.details-btn {
  position: relative;
  border-radius: 50%;
  /* top: 15px; */
}

.inventory-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.small-square {
  background-color: var(--violent-violet);
  border: 2px solid var(--violent-violet);
  width: 30%;
  height: 30%;
  border-radius: 4px;
  display: inline-block;
}

.pull-buttons-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pull-btn {
  border-radius: 10px;
  padding: 15px 50px;
  color: var(--violent-violet);
  background-color: white;
  margin-bottom: 5vh;
  margin: 0px 2vw 5vh;
  font-size: 2.5em;
  cursor: pointer;
}

.pull-btn:hover,
.inventory-btn:hover,
.details-btn:hover,
.reset-counter:hover,
.go-home-btn:hover,
.continue-btn:hover {
  box-shadow: 4px 4px var(--silver-tree);
}

.pull-btn:active {
  transform: translateY(4px);
  box-shadow: 4px 4px var(--silver-tree);
}

h1 {
  margin-top: 0;
}

.currency-cost {
  margin: 0;
  margin-top: 5px;
  background-color: darkblue;
  color: white;
  font-size: 1rem;
}

.currency-counter{
  background-color: white;
  padding: 15px;
  margin-left: 2vw;
  border: 2px solid var(--violent-violet);
}

.banner-carousel {
  z-index: 1;
  height: 100%;
  width: 25%;
  position: absolute;
  left: 10vh;
  top: 0;
  background-color: rgb(211, 211, 211);
  overflow-x: visible;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.banner-carousel div {
  margin: 0 auto;
}

.inactive-banner {
  width: 100%;
  opacity: 0.6;
}

.active-banner {
  right: 10px;
  width: 95% !important;
}

.active-banner img {
  border: 10px solid var(--silver-tree);
}

.go-home-btn, .continue-btn {
  position: absolute;
  bottom: 5vh;
  /* width: 60px;
  height: 60px; */
  cursor: pointer;
  border-radius: 10px;
  z-index: 1;
  color: var(--violent-violet);
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

.go-home-btn{
    left: 15vh;
}

.continue-btn{
  right: 15vh;
}

.details-container {
  background-color: #dfdfdf;
  height: 100vh;
}

.details {
  position: absolute;
  top: 5vh;
  right: 5vh;
  width: 60%;
  height: 81vh;
  padding: 30px;
  background-color: white;
  font-size: 1.2rem;
}

.details-options {
  z-index: 1;
  height: 100%;
  width: 25%;
  position: absolute;
  left: 10vh;
  top: 0;
  background-color: #3b3d56;
}

.d-option {
  font-weight: bold;
  width: 100%;
  background-color: white;
  margin: 50px 0;
  padding: 10px 0;
  font-size: 2rem;
  cursor: pointer;
}

.prob-rates {
  display: flex;
  justify-content: space-evenly;
}

.prob-rates li {
  display: inline;
}

.active-option{
  position: relative;
  border: 10px solid var(--silver-tree);
  right: 10px;
}

.card{
  background-color:#5abd87;
  width: 19%;
  height: 20%;
  margin: 5px 0;
  padding-bottom: 10px;
}

.cards-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content:space-evenly;
}

.card-img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}