:root {
  --silver-tree: #5abd87;
}


.banner-carousel::-webkit-scrollbar {
  display: none;
}

.main-interface {
  position: relative;
  height: 90vh;
  padding: 5vh 0;
  background-size: cover;
}

.info-buttons-container {
  position: absolute;
  display: flex;
  top: 5vh;
  right: 5vh;
}

.spark-reset-container{
  position: absolute;
  display: flex;
  align-items: center;
  top: 5vh;
  left: 32%;
}

.spark-counter{
  color: black;
  background-color: white;
  padding: 10px 20px;
  font-size: 2rem;
}

.spark-counter span{
  color: #625FE5;
}

.inventory-btn,
.details-btn,
.reset-counter {
  display: inline-block;
  margin-left: 5vh;
  color: black;
  background-color: white;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 5px;
}

.details-btn {
  position: relative;
  border-radius: 50%;
  /* top: 15px; */
}

.inventory-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.small-square {
  border: 2px solid black;
  width: 30%;
  height: 30%;
  border-radius: 2px;
  display: inline-block;
}

.pull-buttons-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pull-btn {
  border-radius: 10px;
  padding: 15px 50px;
  color: black;
  background-color: white;
  margin-bottom: 5vh;
  margin: 0px 2vw 5vh;
  font-size: 2.5em;
  cursor: pointer;
}

.pull-btn:hover,
.inventory-btn:hover,
.details-btn:hover,
.reset-counter:hover,
.go-home-btn:hover {
  box-shadow: 4px 4px var(--silver-tree);
}

.pull-btn:active {
  transform: translateY(4px);
  box-shadow: 4px 4px var(--silver-tree);
}

h1 {
  margin-top: 0;
}

.currency-cost {
  margin: 0;
  margin-top: 5px;
  background-color: darkblue;
  color: white;
  font-size: 1rem;
}

.banner-carousel {
  z-index: 1;
  height: 100%;
  width: 50vh;
  position: absolute;
  left: 10vh;
  top: 0;
  background-color: rgb(211, 211, 211);
  overflow-x: visible;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.banner-carousel div {
  margin: 0 auto;
}

.inactive-banner {
  width: 100%;
  opacity: 0.6;
}

.active-banner {
  right: 10px;
  width: 95% !important;
}

.active-banner img {
  border: 10px solid var(--silver-tree);
}

.details-container{
  background-color: #DFDFDF;
  height: 100vh;
}

.details{
  position: absolute;
  top: 5vh;
  right: 5vh;
  width: 130vh;
  height: 90%;
  background-color: white;
}

.go-home-btn{
  position: absolute;
  bottom: 5vh;
  left: 15vh;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 1;
  color: black;
  background-color:white;
  font-size: 2rem;
  font-weight: bold;
}

.details-options {
  height: 100%;
  width: 50vh;
  position: absolute;
  left: 10vh;
  top: 0;
  background-color: #3B3D56;
}

.d-option{
  width: 100%;
  background-color: white;
  margin: 50px 0;
  padding: 10px 0;
  font-size: 2rem;
  cursor: pointer;
}
